*{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}

body{
	background-image: url("img/bg.jpg");
	background-repeat: no-repeat;
	line-height: 1.7em;
}

.div{
	font-family: 'Roboto', sans-serif;
}

img.banner{
	height: 155px;
	width: 300px;
	margin-top: 241px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 10px 10px 10px;
}

a{
	font-family: 'Roboto', sans-serif;
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}

.menu{
	height: auto;
	width: 800px;
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 47px;
	text-align: center;
}

li{
	display: inline-block;
	margin-left: 20px;
}

li:hover{
	background-color: grey;
	border-radius: 5px 5px 5px;
}

span{
	display: block;
	width: 90px;
	height: 35px;
}

i{
	opacity: 0.4;
}

.pagebox1{
	margin-top: 30px;
	margin-left: 340px;
	height: auto;
	width: 650px;
	background-color: grey;
	display: inline-block;
	border:1px solid black;
	opacity: 0.8;
	font-family: sans-serif;
}

h1{
	text-align: center;
	margin-top: 5px;
}

p{
	margin: 10px;
}